.detail {
    width: 100vw;
    height: 100vh;
    background-image: url('https://i.pinimg.com/564x/8e/8e/b4/8e8eb4acb2922008bf91776c94bb8ecf.jpg');
    /* background-image: url('https://i.pinimg.com/564x/37/76/5a/37765ab693d5a237038ae613b4e5bce9.jpg'); */

    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    /* border: solid black; */
    width: 300px;
    height: 700px;
    border-radius: 30px;
    background: rgba(224, 224, 224,0.8);
    /* background: rgba(99, 186, 81,0.5); */
    /* box-shadow: 5px 5px 10px #bebebe,
                -5px -5px 30px #ffffff; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.homeImg{
    /* border: solid black; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex: 1; */
    height: 400;
}

.circle{
    margin-top: 25px;
    /* background-color: rgba(224, 224, 224) ; */
     /* background: rgba(99, 186, 81,0.4); */
     filter: blur(10px);

     background: #abb767;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.homeImg img{
    position: absolute;
    /* left: 5px; */
    bottom: 20px;
    width: 300px;
}
    
.buttonBox {
    /* border: solid black; */
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}


.theButton{ 
    margin-left: 0;
    text-decoration: none;
    
}
.deleteEditBox{
    /* border: solid black; */
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.deleteButton {
    cursor: pointer;
    padding: 5px 10px;
    border: unset;
    border-radius: 10px;
    color: #212121;
    z-index: 1;
    background: #bb1d1d;
    position: relative;
    font-weight: 1000;
    font-size: 12px;
    transition: all 500ms;
    overflow: hidden;
}
.editButton{
    cursor: pointer;
    padding: 5px 10px;
    border: unset;
    border-radius: 10px;
    color: #212121;
    z-index: 1;
    background: #0eb429;
    position: relative;
    font-weight: 1000;
    font-size: 12px;
    transition: all 500ms;
    overflow: hidden;
}
.link {
    text-decoration: none;
    height: fit-content;
}
.theButton {
    cursor: pointer;
    padding: 5px 10px;
    border: unset;
    border-radius: 10px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 12px;
    transition: all 500ms;
   }
   
   .theButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 10px;
    background-color:rgb(219, 23, 25);
    z-index: -1;

    transition: all 250ms
   }
   
   .theButton:hover {
    color: #e8e8e8;
   }
   
   .theButton:hover::before {
    width: 100%;
   }

.stats {
    /* border: solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}
.stats h2 {
    margin-bottom: 20px;
    color: #859720;
}

.containers {
    /* border: solid black; */
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding: 0 0 10px 0;
}

.statTitle{
    font-weight: 600;
    font-size: 16px;
}

.typesTitle{
    margin: 10px 0 15px 0 ;
    font-weight: 600;
}
.typesBox {
    margin: 5px 0 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
}
.type{
    text-align: center;
    padding: 5px 10px;
    color: white;
    border-radius: 25px;
    min-width: 40px;
    }
    
    .type[value=grass]{
        background-color: #5ebd5b ;
    }
    .type[value=fire]{
        background: #e48621 ;
    }
    .type[value=water]{
        background-color: #096fc8  ;
    }
    .type[value=ground]{
        background-color: #c7b78a  ;
    }
    .type[value=electric]{
        background-color: #f0d84a  ;
    }
    .type[value=flying]{
        background-color: #ef97e6  ;
    }
    .type[value=poison]{
        background-color: #7c3c8b  ;
    }
    .type[value=normal]{
        background-color: #979ba2  ;
    }
    .type[value=psychic]{
        background-color: #f77676  ;
    }
    .type[value=dragon]{
        background-color: #d3425f  ;
    }
    .type[value=ice]{
        background-color: #4f96de  ;
    }
    .type[value=rock]{
        background-color: #da7b4b  ;
    }
    .type[value=bug]{
        background-color: #97be2e  ;
    }
    .type[value=ghost]{
        background-color: #5c6db7  ;
    }
    .type[value=fighting]{
        background: #db9953  ;
    }
    .type[value=fairy]{
        background: rgb(244, 217, 208)  ;
    }

@media (min-width: 800px) { 
    .card {
        width: 80%;
        height: 70%;
        max-width: 700px;
        max-height: 500px;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .circle{

        width: 300px;
        height: 300px;
        border-radius: 50%;
    }
    .homeImg img{
        position: absolute;
        /* left: 5px; */
        bottom: 0px;
        width: 350px;
    }
    .stats {
        margin-top: 35px;
        width: 35%;
    }
    .typesBox { 
        margin: 5px 0 0 0 ;

    }
    .theButton{ 
        width: 90px;
        font-size: 16px;
        
    }
    .buttonBox {
        padding-top: 0px;
    }
}