.container {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
    width: 70% ;
    max-width: 450px;
}
.imgContainer img {
    width: 100%;
    
}
.imgContainer h1 {
    color: white;
    margin: 10px;
    height: 50px;
}

.theButton {
    cursor: pointer;
    padding: 5px 10px;
    border: unset;
    border-radius: 10px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 12px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 500ms;
    overflow: hidden;
   }
   
   .theButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 10px;
    background-color:rgb(219, 23, 25);
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   .theButton:hover {
    color: #e8e8e8;
   }
   
   .theButton:hover::before {
    width: 100%;
   }