/*ANTES DE LOS CAMBIOS */
.filtersfalse {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* padding: 10px 5px ; */
    border-radius: 3px;
} 
h2 {
    display: none;
}
select {
    margin: 3px 15px;
    padding: 5px;
    border-radius: 5px;
}



@media (min-width: 1200px) { 
    

    .filtersfalse {
        width: 0;
        max-width: 300px;
        height: 550px;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        transition: all 1s ease;

    }
    .filtersActive {
        width: 50vw;
        max-width: 300px;
        height: 550px;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        transition: all 1s ease;
        /* box-shadow: 3px 12px 15px 0 rgb(0 0 0 / 18%) */
    }
    /* .filterTitle{
        width:68% ;
        display: flex;
        justify-content: center;
    } */
    h2 {
        display: block;
        margin-right: 23px;
        margin-bottom: 15px;
    }
     select {
        cursor: pointer;
        margin: 15px 15px;
        padding: 5px;
        width: 80% ;
        border-radius: 5px;
        font-weight: 500;
        max-width: 140px;
        background-color: transparent;
        background: rgba(221, 214, 214,1);
        background: whitesmoke;
     
    }


      
}

