

.theForm {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px 0;
}
.theForm input { 
    border: solid 1px rgba(221, 214, 214,1);
    background-color: rgba(221, 214, 214,0.8); 
    border-radius: 15px;
    padding-left: 10px;
    color: black;
}


.theForm button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;

}
.theForm button img {
    width: 35px;
}

@media (min-width: 1200px) { 

    .theForm input { 
        width: 250px;
        height: 25px;
        font-size: 15px;
    }
    
    .theForm button img {
        width: 40px;
    }
}