

.theForm {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px 0;
}
.theForm input { 
    border: solid 1px grey;
    border-radius: 15px;
    padding-left: 10px;
}

.theForm button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;

}
.theForm button img {
    width: 35px;
}

@media (min-width: 1200px) { 

    .theForm input { 
        width: 250px;
        height: 30px;
        font-size: 15px;
    }
    
    .theForm button img {
        width: 45px;
    }
}